<div class="mb-3">
    <label class="form-label">Enrolled in Course:</label>
    {{#if courses}}
        <select class="form-select" name="course" id="course">
            <option value="">Select Course</option>
            {{#each courses}}
                <option value="{{courseId}}">{{courseCode}}</option>
            {{/each}}
        </select>
    {{else}}
        <div>No Courses</div>
    {{/if}}
</div>
